In [1]:
# Create set A
A = set([2,4,6,8,10])
'Type A: {}, A: {}'.format(type(A), A)

"Type A: <class 'set'>, A: {2, 4, 6, 8, 10}"

In [2]:
# Create set B
B = set([3,8,11,12])
'Type B: {}, B: {}'.format(type(B), B)

"Type B: <class 'set'>, B: {8, 11, 3, 12}"

In [3]:
# Create set C
C = set([2,3,6,8,9,11])
'Type C: {}, C: {}'.format(type(C), C)

"Type C: <class 'set'>, C: {2, 3, 6, 8, 9, 11}"

In [4]:
U = set([1,2,3,4,5,6,7,8,9,10,11,12])
'Type U: {}, U: {}'.format(type(U), U)

"Type U: <class 'set'>, U: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}"

In [5]:
A_inters_B =  A & B
A_inters_B

{8}

In [6]:
A_union_C = A | C
A_union_C

{2, 3, 4, 6, 8, 9, 10, 11}

In [7]:
A_comp = U.difference(A) # or A_comp = U-A
A_comp

{1, 3, 5, 7, 9, 11, 12}

In [8]:
A_union_B_comp = U - (A | B) 
A_union_B_comp

{1, 5, 7, 9}

In [9]:
B_inters_C_comp = B & (U-C)
B_inters_C_comp

{12}

In [10]:
compl_of_B = A-B
compl_of_B

{2, 4, 6, 10}

In [12]:
C_compl_B_compl_A= C-(B-A)
C_compl_B_compl_A

{2, 6, 8, 9}

In [13]:
C_inters_A_union_C_min_B= (C&A)|(C-B)
C_inters_A_union_C_min_B

{2, 6, 8, 9}

In [14]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Eve = set(["Rabbit", "Turtle", "Goldfish"])

In [17]:
Eve = set(["Rabbit", "Turtle", "Goldfish"])
Eve.remove("Turtle")
Eve

{'Goldfish', 'Rabbit'}

In [18]:
Nina = set(["Cat","Dog","Rabbit","Donkey","Parrot", "Goldfish"])
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Nina.update(Mary)
Nina

{'Cat',
 'Chicken',
 'Chinchilla',
 'Dog',
 'Donkey',
 'Goldfish',
 'Horse',
 'Parrot',
 'Rabbit'}

In [19]:
Mary = set(["Dog","Chinchilla","Horse", "Chicken"])
Mary.clear()
Mary

set()

In [20]:
n_species_Nina = len(Nina)
n_species_Nina

9

In [21]:
Nina.difference_update(Eve)
Nina

{'Cat', 'Chicken', 'Chinchilla', 'Dog', 'Donkey', 'Horse', 'Parrot'}